.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 16px;
  padding: 5rem;
  box-shadow: 0 1px 18px 10px rgb(255, 189, 135);
  animation: meals-appear 2s ease-out forwards;
}

.summary h2 {
  font-size: 2rem;
  margin-top: 0rem;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}